.nav{
  margin:0 -15px 0 0;
  clear: both;
  display:inline-block;
}
.nav-text{
  height:20px;
  padding:5px 10px 5px 30px;
  font:15px Helvetica;
  color:#fff;
  background:#23468c40;
  float:left;
}
.nav-text a{
  text-decoration:none;
  color:inherit;
}
.nav:hover .nav-text:hover a{
  color:white;
}
.nav:hover .nav-text{
  background:#23468c82;
}
.nav:hover .arrow-right{
  border-left:15px solid #23468c82;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #23468c40;
  float:left;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  float:left;
  position:relative;
  left:15px;
}
.active{
  background:#23468cfa;
}
.active-arrow-right{
  border-left:15px solid #23468cfa;
}



